---
import BaseLayout from '@layouts/BaseLayout.astro';
import Announcement from '@components/Dashboard/Announcement/index.astro';
import { ProjectVersion } from '@types';

import H1 from '@components/Typography/H1.astro';

const User = 'Ian'
---

<BaseLayout Title='Home'>
  
  <section class='flex-col justify-center m-auto text-center'>
    <Announcement label={ ProjectVersion }/>
    <H1>Hello, { User }👋</H1>
    <section>
      
    </section>
  </section>

</BaseLayout>