---
import BaseLayout from '@layouts/BaseLayout.astro';
import LogoD from '@assets/logo/LogoD.svg';

---

<BaseLayout Title='Home'>
  <div class='flex justify-center items-center gap-4 h-screen opacity-10'>
    <img src={ LogoD.src } alt="Logo" class='w-10 animate-pulse'>
</div>
</BaseLayout>