---
import AuthLayout from '@layouts/AuthLayout.astro';
import Auth from '@components/Auth/index.astro';
import '@styles/global.css';
---

<AuthLayout Favicon='/favicon.svg' Title='Auth' Language='en'>
	<section class='w-screen h-screen grid grid-cols-1 md:grid-cols-2'>
		<Auth />
		<section class='bg-[url(/bgimg.webp)] bg-cover hidden md:block'>
		</section>
	</section>
</AuthLayout>
