---
import type { ProjectTitle, ProjectFavicon, ProjectLanguage } from '@types';

interface Props  {
    Title?: ProjectTitle;
    Favicon?: ProjectFavicon;
    Language: ProjectLanguage;
}

const { Title, Favicon, Language } = Astro.props; 

---

<!doctype html>
<html lang={ Language }>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={ Favicon } />
		<meta name="generator" content={Astro.generator} />
		<title>Growth | { Title? Title : 'Auth' }</title>
	</head>
	<body class="bg-stone-950 selection:text-blue-500 selection:bg-blue-950 text-white prose lg:prose-xl">
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}
</style>