---
import type { ProjectTitle, ProjectLanguage, ProjectFavicon } from '@types';
import Sidebar from '@components/Dashboard/Sidebar/index.astro';
import '@styles/global.css';

interface Props {
	Title: ProjectTitle;
	Language?: ProjectLanguage;
	Favicon?: ProjectFavicon;
}

const Pathname = Astro.originPathname;

const { Title, Language = 'en', Favicon = 'favicon.svg' } = Astro.props;
---

<!doctype html>
<html lang={ Language }>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={ Favicon } />
		<meta name="generator" content={Astro.generator} />
		<title>Growth | { Title }</title>
	</head>
	<body class='bg-neutral-950 selection:text-blue-500 selection:bg-blue-950 text-white prose lg:prose-xl flex h-screen'>
		<main class="min-h-screen w-full bg-neutral-950 flex overflow-x-hidden relative text-white">
			<Sidebar />
			<div class="flex-1 flex flex-col relative">
			  <section class="bg-black border-b border-neutral-900 px-4 py-2">
				<h1 class="font-sans font-medium capitalize">
				  {
					Pathname === "/dashboard" 
					  ? "Growth | Dashboard" 
					  : `Growth | ${Pathname.replace(/(dashboard|\/)/g, '')}`
				  }
				</h1>
				<small class='text-neutral-500'>
					{ new Date().toLocaleDateString('en-EN', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'}).charAt(0).toUpperCase() + new Date().toLocaleDateString('en-EN', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'}).slice(1) }
				</small>
			  </section>
	
				<slot />
	
			</div>
		</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
